body {
  background-image: url("11.png");
  background-repeat: no-repeat;
  background-size: 1500px 800px;
}
.hi{
  font-size: 5px;
  font-family: 'Merienda', cursive;
}
.button1 {
    background-color: black; color: white;
    border-radius: 12px;
    font-size: 25px;
    padding: 10px 20px;
}
.button {
    background-color: black; color: white;
    border-radius: 12px;
    font-size: 20px;
    padding: 8px 16px;
}